.界面{
  background-image: url('../res/gg.webp');  
  background-repeat: no-repeat; /* 防止图片重复 */  
  background-size: cover; /* 图片覆盖整个元素 */
}
.导航{
  width: 100%;
  height: 70px;
  background-color: rgb(5, 38, 67);
}

.左导航位置{
  position: relative;
  top: -90px;
  min-height: 1000px;
  width: 70%;
  margin: 0 auto;
  display: flex;
  
}
.左导航{
  padding: 30px;
  width: 300px;
  height: 700px;
  border-radius: 10px;
  background-color: aqua;
  background-size: 10px;
}